@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    --line-color: #dee0e4;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/15;
}

.dark input, .dark textarea {
    background-color: rgba(255, 255, 255, 0.80); /* Adjust the color and opacity as needed */
}

.dark input:focus, .dark textarea:focus {
    background-color: rgba(255, 255, 255, 1); /* Adjust the color and opacity as needed */
}