@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    --line-color: #dee0e4;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/15;
}

.dark input, .dark textarea {
    background-color: rgba(255, 255, 255, 0.80); /* Adjust the color and opacity as needed */
}

.dark input:focus, .dark textarea:focus {
    background-color: rgba(255, 255, 255, 1); /* Adjust the color and opacity as needed */
}

/* .projects-container:nth-child(even) .project-content {
    flex-direction: row-reverse;
  } */

  /* .date-text { */
    /* color: rgb(220 38 38); */
    /* text-gray-700 */
    /* font-weight: 300; */
    /* font-light */
    /* font-size: 0.875rem;  */
    /* line-height: 1.25rem;  */
    /* text-sm  */
  /* } */